{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% for mod_adv in adv_moderation %}
        <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h2 class="border-bottom border-dark pb-2 mb-0">{{ mod_adv.title|title }}</h2>
                <div class="row text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small border-dark">
                        {{ mod_adv.description }}
                    </p>
                    <form action="{% url 'adv_board:publication-adv' mod_adv.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary m-2" >Опубликовать</button>
                    </form>
                    <a class="btn btn-secondary m-2" href="{{ mod_adv.get_absolute_url }}">Подробнее...</a>
                </div>
            </div>
    {% endfor %}
{% endblock %}