{% extends 'base.html' %}
{% load static %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_name" class="text-info">Имя: </label>
            <input type="text" name="name" maxlength="255" class="rounded" required="" id="id_name" value="{{ customuser.name }}">
        </p>
        <p>
            <label for="id_surname" class="text-info">Фамилия: </label>
            <input type="text" name="surname" maxlength="255" class="rounded" required="" id="id_surname">
        </p>
        <div class="mt-3">
            <button class="btn btn-success" type="submit">Обновить</button>
        </div>
    </form>
{% endblock main %}